<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>finalproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AreaController</display-name>
    <servlet-name>AreaController</servlet-name>
    <servlet-class>com.project.controller.AreaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaController</servlet-name>
    <url-pattern>/AreaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoothController</display-name>
    <servlet-name>BoothController</servlet-name>
    <servlet-class>com.project.controller.BoothController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoothController</servlet-name>
    <url-pattern>/BoothController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffController</display-name>
    <servlet-name>StaffController</servlet-name>
    <servlet-class>com.project.controller.StaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffController</servlet-name>
    <url-pattern>/StaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllocateController</display-name>
    <servlet-name>AllocateController</servlet-name>
    <servlet-class>com.project.controller.AllocateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocateController</servlet-name>
    <url-pattern>/AllocateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.project.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackController</display-name>
    <servlet-name>FeedbackController</servlet-name>
    <servlet-class>com.project.controller.FeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackController</servlet-name>
    <url-pattern>/FeedbackController</url-pattern>
  </servlet-mapping>
</web-app>